@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
    --primary-color: #393e46;
    --secondary-color: #00adb5;
    --dark-color: #222831;
    --light-color: #eeeeee;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;
    height: 100vh;
    background: url('images/background.jpg') no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: var(--light-color);
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

img {
    width: 100%;
    margin: 10px;
}

/* Card */
.profile-card {
    width: 400px;
    text-align: center;
    background-color: var(--dark-color);
    color: #eee;
    border-radius: 8px;
    overflow: hidden;
}

.profile-card header {
    padding: 40px 0;
}

.profile-card a {
    margin: 10px 5px 5px 0;
}

.profile-image {
    padding: 8px;
    display: inline-block;
    margin: auto;
    border-radius: 50%;
    background-size: 200% 200%;
}

.profile-image img {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-color: var(--light-color);
}

/* .profile-card .card {
    display: grid;
    width: 220px;
    position: relative;
    justify-content: space-evenly;
    justify-self: center;
    margin-bottom: 20px;
} */

.profile-card .bio {
    margin-bottom: 20px;
    justify-self: end;
}